body, input {
    background-color: #272822;
    
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: 14px Tahoma;
    color: white;
}

html, body {
    height: 100%;
}

#react-root {
    display: flex;
    align-items: center;
    justify-content: center;
}
